.mobile-wrap {
  position: relative;
  min-height: 100vh;
  width: 100%;
  float: left;
  background: url("../img/46c4a4_750x1024.jpg") top center no-repeat;
  background-size: 100% 1024px;
  padding-top: 108px;
  padding-bottom: 164px;
}
body,
html {
  width: 100%;
  height: 100%;
}
.banner {
  width: 100%;
}
.banner img {
  width: 100%;
}
.intrs {
  width: 100%;
  padding-top: 42px;
}
.intrs img {
  width: 100%;
}
.buttons {
  width: 100%;
  text-align: center;
  padding-top: 20px;
  float: left;
}
.buttons button {
  width: 566px;
  height: 106px;
  background: url("../img/84e92f_566x106.png") center no-repeat;
  background-size: 566px 106px;
  animation: myfirst 1s infinite;
}
.label {
  width: 100%;
  padding-top: 40px;
  float: left;
}
.label img {
  width: 100%;
}
.lines {
  width: 100%;
  float: left;
  margin-top: 30px;
}
.lines .title {
  width: 100%;
  text-align: center;
  padding-top: 22px;
}
.lines .title img {
  width: 658px;
}
.lines .conts {
  width: 100%;
  padding-top: 34px;
}
.lines .conts .items {
  width: 100%;
  padding: 0 26px;
  margin-bottom: 26px;
  position: relative;
}
.lines .conts .items .imgs {
  width: 100%;
  text-align: center;
}
.lines .conts .items .imgs img {
  width: 710px;
}
.lines .conts .items .text {
  width: 100%;
  position: absolute;
  left: 0;
  top: -4px;
  padding-left: 145px;
  padding-top: 0px;
}
.lines .conts .items .text .tits {
  width: 100%;
  line-height: 43px;
  font-size: 26px;
  position: relative;
  top: -4px;
  color: #222;
}
.lines .conts .items .text .tits em {
  color: #1b1b1b;
}
.lines .conts .items .text .txts {
  width: 100%;
  margin-top: -10px;
}
.lines .conts .items .text .txts .ms {
  width: 102px;
  height: 56px;
  border-radius: 28px;
  margin-top: 11px;
  line-height: 58px;
  text-align: center;
  font-size: 26px;
  color: #561f1f;
  font-family: arial;
}
.lines .conts .items .text .txts .webs {
  width: 312px;
  height: 58px;
  font-size: 28px;
  color: #000;
  font-family: arial;
  line-height: 58px;
  text-align: center;
  position: relative;
  top: 10px;
}
.type {
  width: 100%;
  margin-top: 24px;
  float: left;
  background: url("../img/ae4925_750x580.jpg") center 40px no-repeat;
  background-size: 750px 580px;
  min-height: 658px;
}
.type .title {
  width: 100%;
  text-align: center;
}
.type .title img {
  width: 658px;
}
.type .list {
  width: 100%;
  margin-top: 60px;
  float: left;
}
.type .list ul {
  width: 100%;
}
.type .list ul li {
  width: 278px;
  text-align: center;
  transition: 0.5s;
  height: 386px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.type .list ul li img {
  width: 278px;
  transition: 0.5s;
}
.type .list ul li.swiper-slide-active {
  position: relative;
  z-index: 99;
  opacity: 1;
}
.type .list ul li.swiper-slide-active img {
  position: relative;
  z-index: 99;
}
.type .list ul li.swiper-slide-next img {
  transform: scale(0.76) translateX(-20px);
}
.type .list ul li.swiper-slide-prev img {
  transform: scale(0.76) translateX(20px);
}
.labs {
  width: 100%;
  position: relative;
  margin-top: -10px;
  float: left;
  text-align: center;
}
.labs img {
  width: 100%;
}
.pays {
  width: 100%;
  padding-top: 30px;
  float: left;
}
.pays img {
  width: 100%;
}
.fix-down {
  width: 750px;
  position: fixed;
  left: 50%;
  margin-left: -375px;
  z-index: 99;
  bottom: 0;
}
.fix-down img {
  width: 100%;
  margin-bottom: -1px;
}
.fix-down button {
  width: 217px;
  height: 68px;
  background: url("../img/799c45_217x67.png") center no-repeat;
  background-size: 217px 67px;
  position: absolute;
  right: 20px;
  top: 50%;
  margin-top: -34px;
  animation: myfirst 1s infinite;
}
.fix-down.tops {
  bottom: initial;
  top: 0;
}
.fix-service {
  position: fixed;
  right: 50%;
  margin-right: -375px;
  top: 50%;
  margin-top: -96px;
  z-index: 88;
}
.fix-service img {
  width: 124px;
}
.fix-protect {
  position: fixed;
  left: 50%;
  margin-left: -375px;
  top: 50%;
  margin-top: -96px;
  z-index: 88;
}
.fix-protect img {
  width: 61px;
}
.head {
  width: 750px;
  position: absolute;
  left: 50%;
  margin-left: -375px;
  top: 0;
  height: 110px;
  padding: 0 28px;
  z-index: 999;
}
.head .logo {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.head .logo img {
  width: 222px;
}
.head .customer {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.head .customer a {
  display: inline-block;
  width: 186px;
  height: 52px;
  background: url("../img/e53c83_186x52.png") center no-repeat;
  background-size: 186px 52px;
}
@keyframes myfirst {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}
